@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-shape-container {
    background-color: #fff;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.custom-shape {
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1456926631375-92c8ce872def?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGFuaW1hbHN8ZW58MHx8MHx8fDA%3D');
    background-size: cover ;
    background-position: center ;
    border-radius: 15px; /* Smooth, rounded edges */
    clip-path: polygon(57% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0 20%, 57% 20%); /* Custom shape with top left corner removed */
}

.blog-card-button {
    /* Customize your button styles */
    background-color: #fff;
    border: 2px solid #000;
    border-radius:15px; /* Rounded bottom left corner */
    position: absolute;
    top: 0;
    left: 0;
    width: 57%; /* Width should match the first value in clip-path */
    height: 20%; /* Height should match the last value in clip-path */
}